<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loguin</title>
</head>

<body>
    <% if(typeof errors != undefined){%>
        <p style="color: red">ERROR</p>
        <ul>
            <% for (let i=0; i<errors.length;i++){ %>
                <li>
                    <%= errors[i].msg %>
                </li>
            <%}%>
        </ul>
    <%}%>    
    <form action="/login/user" method="post">
        <label for="nombre">Email</label>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="pass">Constraseña</label>
        <input type="password" id="pass" name="pass"><br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>