<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% req.session.numeroVisitas == undefined?req.session.numeroVisitas=0:req.session.numeroVisitas++ %>
    <%= "Session tiene el numero: "+ req.session.numeroVisitas %>
</head>
<body>
    
</body>
</html>