body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
header ul{
    list-style-type: none;
    padding-left: 0px;
}
h3{font-size: 24px;}
h4{font-size: 16px;}
a{text-decoration: none;
color:black}
i{padding-left: 3px;}

div button{
    background-color: #1259c3;
    border-radius: 4px;
    color: white;
    padding: 10px;
    font-size: 20px;
    
}
footer ul{
    margin: 30px 30px;
    padding:0px ;
}
footer h4{
    text-align: center;
    font-weight:bold; 
    margin: 0%;   
}
footer div{
    text-align: center;
    font-size: small;
}
footer li>div{
    margin-top: 30px;
    margin-bottom: 30px;
}
footer i{
    color: #1259c3;
    padding: 0;
}
.precios{font-size: 18px;}
.descuentos{font-size: 16;}
.copyRight{
    font-size: smaller;
    padding-left: 2.5%;
    text-align: left;
}
.burger-menu{
    text-align: center;
    padding-bottom: 10px;}
