body{
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
header ul{
    list-style-type: none;
    padding-left: 0px;
}
h3{font-size: 24px;}
h4{font-size: 16px;}
a{text-decoration: none;
color:black}
i{padding-left: 3px;}

div button{
    background-color: #1259c3;
    border-radius: 4px;
    color: white;
    padding: 10px;
    font-size: 20px;
    
}
.precios{font-size: 18px;}
.descuentos{font-size: 16;}
.burger-menu{
    text-align: center;
    padding-bottom: 10px;}
