<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <input type="text" title="Barra de Busqueda" width="100%" placeholder="Buscar">
        <button><i class="fas fa-search"></i></button>
        <h4><i class="fas fa-hand-holding-usd"></i> en cuotas y sin tarjeta de crédito</h4> 
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <div class="burger-menu">
                <button><i class="fas fa-bars"></i></button>
            </div>
        </nav>
    </header>
    <section>
        <img src="/images/img-home-banner.jpg" alt="Banner Mercado Liebre" width="100%">
    </section>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafeterea Moulinex" width="100%">
                <p class="precio">$6.770</p><br><br>
                <p class="descuento">40% OFF</p><br>
                <h4>Cafetera Moulinex</h4><br>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019" width="100%">
                 <p class="precio">$230.000</p><br><br>
                <p class="descuento">20</p> off<br>
                <h4>MacBook Pro 2019</h4><br>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                 <p class="precio">$70.500</p><br><br>
                <p class="descuento">10</p> off<br>
                <h4>Samsung Galaxy S10</h4><br>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Tv Samsung Smart 43 Pulgadas" width="100%">
                 <p class="precio">$23.200</p><br><br>
                <p class="descuento">5%</p>off<br>
                <h4>SmartTv Samsung 43"</h4><br>
            </div>
        </section>
        <section>
            <h3>Sección de Ofertas</h3> 
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen Cafeterea Moulinex" width="100%">
                 <p class="precio">$6.770</p>br><br>
                <p class="descuento">40</p> OFF<br>
                <h4>Cafetera Moulinex</h4><br>
            </div>
            <div>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen MacBook Pro 2019" width="100%">
                 <p class="precio">$230.000</p><br><br>
                <p class="descuento">20</p> off<br>
                <h4>MacBook Pro 2019</h4><br>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                 <p class="precio">$70.500</p><br><br>
                <p class="descuento">10</p> off<br>
                <h4>Samsung Galaxy S10</h4><br>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Tv Samsung Smart 43 Pulgadas" width="100%">
                 <p class="precio">$23.200</p><br><br>
                <p class="descuento">5%</p>off<br>
                <h4>SmartTv Samsung 43"</h4><br>
            </div>
        </section>
        
    </main>
    <footer>
        <ul style="list-style-type:none">
            <li>
                <div>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </div>            
            </li>
            <li>
                <div>
                    <h4>Envío gratis desde $ 2.500</h4>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.     
                </div>
            </li>
            <li>
                <div>
                    <h4>Seguridad, de principio a fin</h4>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.     
                </div>                
            </li>
            <li>
                <div>
                    Copyright © 1999-2020 MercadoLiebre S.R.L.
                </div>
            </li>
        </ul>
    </footer>   
</body>
</html>